<?xml version="1.0"?>

<model>
  <name>Can Coke</name>
  <version>1.0</version>
  <sdf version="1.2">model-1_2.sdf</sdf>
  <sdf version="1.3">model-1_3.sdf</sdf>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Vishwanath and Sridharan</name>
  </author>

  <description>
    A can of Coke used for Drone Swarm Collection Simulations. Mass: 0.1kg
  </description>
</model>
